
@{
    Layout = "_LayoutStudentUser";
}
<div class="container-fluid page-header py-5 mb-5">
    <div class="container py-5">
        <h1 class="display-3 text-white mb-3 animated slideInDown">ArtWork</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-white" asp-controller="ArtWork" asp-action="ShowAddArt" asp-route-Id="@ViewBag.stulogin">Add ArtWork</a></li>
                <li class="breadcrumb-item"><a class="text-white" asp-controller="Submission" asp-action="ShowUploadExamk">Upload Examk</a></li>
            </ol>
        </nav>
    </div>
</div>
<!-- Projects Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Our ArtWork</h1>
        </div>
        <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
            <div class="col-12 text-center">
                <ul class="list-inline mb-5" id="portfolio-flters">
                    <li class="mx-2 active" data-filter="*">All</li>
                    <li class="mx-2" data-filter=".first">General Carpentry</li>
                    <li class="mx-2" data-filter=".second">Custom Carpentry</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container">
            @foreach(var a in ViewBag.art)
            {
            <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s" style=" left: 759px; top: 0px; visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
                    <div class="rounded overflow-hidden">
                        <div class="position-relative overflow-hidden">
                            <img class="img-fluid w-100" src="@a.FileUrl" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-square btn-outline-light mx-1" href="@a.FileUrl" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                            </div>
                        </div>
                        <div class="border border-5 border-light border-top-0 p-4">
                            <p class="text-primary fw-medium mb-2">@a.ArtworkName</p>
                            <h5 class="lh-base mb-0">
                                @a.Descritption
                        </h5>
                            <h6 class="lh-base mb-0">
                                @a.DayPost  <label class="btn btn-danger" style="padding:7px;margin-left:114px;">
                                    <a style="color:white" asp-controller="ArtWork" asp-action="DeleteArt" asp-route-id="@a.ArtworkId" onclick="confirmDelete(@a.ArtworkId)">Delete</a>
                                </label>
                            </h6>
                        </div>

                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- scripts -->
@section scripts {

    <script>
        function confirmDelete(id) {
            if (confirm("Are you sure you want to delete?")) {
                $.ajax({
                    url: '@Url.Action("DeleteArt", "ArtWork")',
                    type: 'POST',
                    data: { id: id },
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        alert("An error occurred while deleting data.");
                    }
                });
            }
        }

    </script>
}


